:root {
    --bg: #222222;
    --white: #fff;
    --accent: #4b2bff;
}

:global {
    * {
        box-sizing: border-box;
    }

    html,
    body,
    #root {
        height: 100%;
    }

    body {
        margin: 0;
        background: var(--bg);
    }
}